data/*
!data/simulated/
!data/warps.py
__pycache__
*.png
*.pdf
*.pkl
*.svg
plots/
old/
out/
.DS_Store
job.slurm.*
.DS_Store/
.csv
job.slurm*
scp*
pytorch/
notebooks/
gpr.py
make_st_data_plots.py
plot_intermediate_G.py
gp_functions.py
util.py
!examples/synthetic_data_example.png
